[Match]
# We use type since device name depends on Kernel version
# udevadm info --query=property /sys/class/net/usb0
Type=gadget

[Network]
Address=10.157.1.1/24
Gateway=
DHCPServer=yes

[DHCPServer]
EmitDNS=no
EmitNTP=no
EmitRouter=no
EmitTimezone=no
