[Unit]
Description=Zen Application
After=multi-user.target
 
[Service]
Type=simple
#ExecStartPre=/bin/cp /home/root/Zen457.log /home/root/Zen457.`date +"%Y.%m.%d.%H.%M.%S"`.log
ExecStart=/bin/sh -c '/home/root/Zen457 | tee /home/root/Zen457.`date +"%Y.%m.%d.%H.%M.%S"`.log 2>&1'
WorkingDirectory=/home/root
Restart=always
 
[Install]
WantedBy=multi-user.target