//
// Written by Synplify Pro 
// Product Version "T-2022.09M-SP2-1"
// Program "Synplify Pro", Mapper "map202209actsp2, Build 145R"
// Tue Feb 18 11:22:36 2025
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\/home/summer/microchip/Libero_SoC_v2023.2/SynplifyPro/lib/generic/smartfusion2.v "
// file 1 "\/home/summer/microchip/Libero_SoC_v2023.2/SynplifyPro/lib/vlog/hypermods.v "
// file 2 "\/home/summer/microchip/Libero_SoC_v2023.2/SynplifyPro/lib/vlog/umr_capim.v "
// file 3 "\/home/summer/microchip/Libero_SoC_v2023.2/SynplifyPro/lib/vlog/scemi_objects.v "
// file 4 "\/home/summer/microchip/Libero_SoC_v2023.2/SynplifyPro/lib/vlog/scemi_pipes.svh "
// file 5 "\/home/summer/projects/CGraph/firmware/DMInterface/Ux1_Ver2/component/work/EvalSandbox_MSS/CCC_0/EvalSandbox_MSS_CCC_0_FCCC.v "
// file 6 "\/home/summer/projects/CGraph/firmware/DMInterface/Ux1_Ver2/component/Actel/SgCore/OSC/2.0.101/osc_comps.v "
// file 7 "\/home/summer/projects/CGraph/firmware/DMInterface/Ux1_Ver2/component/work/EvalSandbox_MSS/FABOSC_0/EvalSandbox_MSS_FABOSC_0_OSC.v "
// file 8 "\/home/summer/projects/CGraph/firmware/DMInterface/Ux1_Ver2/component/work/EvalSandbox_MSS_MSS/EvalSandbox_MSS_MSS_syn.v "
// file 9 "\/home/summer/projects/CGraph/firmware/DMInterface/Ux1_Ver2/component/work/EvalSandbox_MSS_MSS/EvalSandbox_MSS_MSS.v "
// file 10 "\/home/summer/projects/CGraph/firmware/DMInterface/Ux1_Ver2/component/Actel/DirectCore/CoreResetP/7.1.100/rtl/vlog/core/coreresetp_pcie_hotreset.v "
// file 11 "\/home/summer/projects/CGraph/firmware/DMInterface/Ux1_Ver2/component/Actel/DirectCore/CoreResetP/7.1.100/rtl/vlog/core/coreresetp.v "
// file 12 "\/home/summer/projects/CGraph/firmware/DMInterface/Ux1_Ver2/component/Actel/DirectCore/CoreAPB3/4.1.100/rtl/vlog/core/coreapb3_muxptob3.v "
// file 13 "\/home/summer/projects/CGraph/firmware/DMInterface/Ux1_Ver2/component/Actel/DirectCore/CoreAPB3/4.1.100/rtl/vlog/core/coreapb3_iaddr_reg.v "
// file 14 "\/home/summer/projects/CGraph/firmware/DMInterface/Ux1_Ver2/component/Actel/DirectCore/CoreAPB3/4.1.100/rtl/vlog/core/coreapb3.v "
// file 15 "\/home/summer/projects/CGraph/firmware/DMInterface/Ux1_Ver2/component/work/EvalSandbox_MSS/EvalSandbox_MSS.v "
// file 16 "\/home/summer/projects/CGraph/firmware/DMInterface/Ux1_Ver2/component/work/FCCC_C0/FCCC_C0_0/FCCC_C0_FCCC_C0_0_FCCC.v "
// file 17 "\/home/summer/projects/CGraph/firmware/DMInterface/Ux1_Ver2/component/work/FCCC_C0/FCCC_C0.v "
// file 18 "\/home/summer/projects/CGraph/firmware/DMInterface/Ux1_Ver2/component/work/EvalBoardSandbox/EvalBoardSandbox.v "
// file 19 "\/home/summer/microchip/Libero_SoC_v2023.2/SynplifyPro/lib/vhd2008/std.vhd "
// file 20 "\/home/summer/microchip/Libero_SoC_v2023.2/SynplifyPro/lib/vhd/snps_haps_pkg.vhd "
// file 21 "\/home/summer/microchip/Libero_SoC_v2023.2/SynplifyPro/lib/vhd2008/std1164.vhd "
// file 22 "\/home/summer/microchip/Libero_SoC_v2023.2/SynplifyPro/lib/vhd2008/std_textio.vhd "
// file 23 "\/home/summer/microchip/Libero_SoC_v2023.2/SynplifyPro/lib/vhd2008/numeric.vhd "
// file 24 "\/home/summer/microchip/Libero_SoC_v2023.2/SynplifyPro/lib/vhd/umr_capim.vhd "
// file 25 "\/home/summer/microchip/Libero_SoC_v2023.2/SynplifyPro/lib/vhd2008/arith.vhd "
// file 26 "\/home/summer/microchip/Libero_SoC_v2023.2/SynplifyPro/lib/vhd2008/unsigned.vhd "
// file 27 "\/home/summer/microchip/Libero_SoC_v2023.2/SynplifyPro/lib/vhd/hyperents.vhd "
// file 28 "\/home/summer/projects/CGraph/firmware/DMInterface/Ux1_Ver2/hdl/RegisterSpace.vhd "
// file 29 "\/home/summer/projects/CGraph/firmware/DMInterface/Ux1_Ver2/hdl/SpiDac.vhd "
// file 30 "\/home/summer/projects/CGraph/firmware/include/fpga/IBufP2.vhd "
// file 31 "\/home/summer/projects/CGraph/firmware/include/fpga/UartRxRaw.vhd "
// file 32 "\/home/summer/projects/CGraph/firmware/include/fpga/fifo_gen.vhd "
// file 33 "\/home/summer/projects/CGraph/firmware/include/fpga/UartTx.vhd "
// file 34 "\/home/summer/projects/CGraph/firmware/include/fpga/UartRxExtClk.vhd "
// file 35 "\/home/summer/projects/CGraph/firmware/include/fpga/gated_fifo.vhd "
// file 36 "\/home/summer/projects/CGraph/firmware/include/fpga/UartRxFifoExtClk.vhd "
// file 37 "\/home/summer/projects/CGraph/firmware/include/fpga/UartTxFifoExtClk.vhd "
// file 38 "\/home/summer/microchip/Libero_SoC_v2023.2/SynplifyPro/lib/nlconst.dat "
// file 39 "\/home/summer/projects/CGraph/firmware/DMInterface/Ux1_Ver2/designer/EvalBoardSandbox/synthesis.fdc "

`timescale 100 ps/100 ps
module EvalBoardSandbox (
  CLK0_PAD,
  DEVRST_N,
  Rx0,
  MosiA,
  MosiB,
  MosiC,
  MosiD,
  MosiE,
  MosiF,
  SckA,
  SckB,
  SckC,
  SckD,
  SckE,
  SckF,
  Tx0,
  Uart0OE,
  nCsA,
  nCsB,
  nCsC,
  nCsD,
  nCsE,
  nCsF
)
;
input CLK0_PAD ;
input DEVRST_N ;
input Rx0 ;
output MosiA ;
output MosiB ;
output MosiC ;
output MosiD ;
output MosiE ;
output MosiF ;
output SckA ;
output SckB ;
output SckC ;
output SckD ;
output SckE ;
output SckF ;
output Tx0 ;
output Uart0OE ;
output [3:0] nCsA ;
output [3:0] nCsB ;
output [3:0] nCsC ;
output [3:0] nCsD ;
output [3:0] nCsE ;
output [3:0] nCsF ;
wire CLK0_PAD ;
wire DEVRST_N ;
wire Rx0 ;
wire MosiA ;
wire MosiB ;
wire MosiC ;
wire MosiD ;
wire MosiE ;
wire MosiF ;
wire SckA ;
wire SckB ;
wire SckC ;
wire SckD ;
wire SckE ;
wire SckF ;
wire Tx0 ;
wire Uart0OE ;
wire VCC ;
wire GND ;
// @18:46
  OUTBUF MosiA_obuf (
	.PAD(MosiA),
	.D(GND)
);
// @18:47
  OUTBUF MosiB_obuf (
	.PAD(MosiB),
	.D(VCC)
);
// @18:48
  OUTBUF MosiC_obuf (
	.PAD(MosiC),
	.D(VCC)
);
// @18:49
  OUTBUF MosiD_obuf (
	.PAD(MosiD),
	.D(VCC)
);
// @18:50
  OUTBUF MosiE_obuf (
	.PAD(MosiE),
	.D(VCC)
);
// @18:51
  OUTBUF MosiF_obuf (
	.PAD(MosiF),
	.D(VCC)
);
// @18:52
  OUTBUF SckA_obuf (
	.PAD(SckA),
	.D(VCC)
);
// @18:53
  OUTBUF SckB_obuf (
	.PAD(SckB),
	.D(VCC)
);
// @18:54
  OUTBUF SckC_obuf (
	.PAD(SckC),
	.D(VCC)
);
// @18:55
  OUTBUF SckD_obuf (
	.PAD(SckD),
	.D(VCC)
);
// @18:56
  OUTBUF SckE_obuf (
	.PAD(SckE),
	.D(VCC)
);
// @18:57
  OUTBUF SckF_obuf (
	.PAD(SckF),
	.D(VCC)
);
// @18:58
  OUTBUF Tx0_obuf (
	.PAD(Tx0),
	.D(VCC)
);
// @18:59
  OUTBUF Uart0OE_obuf (
	.PAD(Uart0OE),
	.D(GND)
);
// @18:60
  OUTBUF \nCsA_obuf[0]  (
	.PAD(nCsA[0]),
	.D(VCC)
);
// @18:60
  OUTBUF \nCsA_obuf[1]  (
	.PAD(nCsA[1]),
	.D(VCC)
);
// @18:60
  OUTBUF \nCsA_obuf[2]  (
	.PAD(nCsA[2]),
	.D(VCC)
);
// @18:60
  OUTBUF \nCsA_obuf[3]  (
	.PAD(nCsA[3]),
	.D(VCC)
);
// @18:61
  OUTBUF \nCsB_obuf[0]  (
	.PAD(nCsB[0]),
	.D(VCC)
);
// @18:61
  OUTBUF \nCsB_obuf[1]  (
	.PAD(nCsB[1]),
	.D(VCC)
);
// @18:61
  OUTBUF \nCsB_obuf[2]  (
	.PAD(nCsB[2]),
	.D(VCC)
);
// @18:61
  OUTBUF \nCsB_obuf[3]  (
	.PAD(nCsB[3]),
	.D(VCC)
);
// @18:62
  OUTBUF \nCsC_obuf[0]  (
	.PAD(nCsC[0]),
	.D(VCC)
);
// @18:62
  OUTBUF \nCsC_obuf[1]  (
	.PAD(nCsC[1]),
	.D(VCC)
);
// @18:62
  OUTBUF \nCsC_obuf[2]  (
	.PAD(nCsC[2]),
	.D(VCC)
);
// @18:62
  OUTBUF \nCsC_obuf[3]  (
	.PAD(nCsC[3]),
	.D(VCC)
);
// @18:63
  OUTBUF \nCsD_obuf[0]  (
	.PAD(nCsD[0]),
	.D(VCC)
);
// @18:63
  OUTBUF \nCsD_obuf[1]  (
	.PAD(nCsD[1]),
	.D(VCC)
);
// @18:63
  OUTBUF \nCsD_obuf[2]  (
	.PAD(nCsD[2]),
	.D(VCC)
);
// @18:63
  OUTBUF \nCsD_obuf[3]  (
	.PAD(nCsD[3]),
	.D(VCC)
);
// @18:64
  OUTBUF \nCsE_obuf[0]  (
	.PAD(nCsE[0]),
	.D(VCC)
);
// @18:64
  OUTBUF \nCsE_obuf[1]  (
	.PAD(nCsE[1]),
	.D(VCC)
);
// @18:64
  OUTBUF \nCsE_obuf[2]  (
	.PAD(nCsE[2]),
	.D(VCC)
);
// @18:64
  OUTBUF \nCsE_obuf[3]  (
	.PAD(nCsE[3]),
	.D(VCC)
);
// @18:65
  OUTBUF \nCsF_obuf[0]  (
	.PAD(nCsF[0]),
	.D(VCC)
);
// @18:65
  OUTBUF \nCsF_obuf[1]  (
	.PAD(nCsF[1]),
	.D(VCC)
);
// @18:65
  OUTBUF \nCsF_obuf[2]  (
	.PAD(nCsF[2]),
	.D(VCC)
);
// @18:65
  OUTBUF \nCsF_obuf[3]  (
	.PAD(nCsF[3]),
	.D(VCC)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* EvalBoardSandbox */

